<!doctype html>
<html lang="en">

  <head>
   <title> File Upload</title>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col">

            <h1>Provide words for document classification</h1>
            <hr>

            <form action="/upload-files" method="GET" enctype="application/x-www-form-urlencoded">
                          <div>
                              <label>Words:</label> <br>
                              <input type="text" name="word" id="word">
                          </div>

                  <button type="Submit">Submit</button>

            </form>

        </div>
      </div>
    </div>

  </body>

</html>